<div class="container">
  <div class="form-container">
     <div class="title">Create Acount</div>
     <form>
      <mat-form-field appearance="outline">
        <mat-label>Enter your email</mat-label>
        <input matInput />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Enter your Username</mat-label>
        <input matInput />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input type="password" matInput />
      </mat-form-field>
     </form>
     <div class="buttons-container">
      <button mat-raised-button color="primary" class="login-button">
          Create Account
      </button>
      <p>OR</p>
      <button mat-button>
        Login
      </button>
  </div>
</div>
